.container {
  min-height: 100vh;
  display: inline-block;
  place-items: center;
  padding: 0 2rem;
  margin: 5rem 0;
  width: 90%;

  .fallenStar {
    position: absolute;
    margin-left: 4em;
    display: inline-block;

    img {
      width: 140px;
    }
  }
  @media screen and (width <= 768px) {
    .fallenStar {
      margin-left: 4em;

      img {
        width: 80px;
      }
    }
  }

  .header {
    background-color: #4fb099;
    color: white;
    font-weight: 500;
    font-size: 36px;
    padding: 10px;
    margin-top: 93px;
  }

  @media screen and (width <= 768px) {
    .header {
      margin-top: 53px;
      font-size: 28px;
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .calendarEvent {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, #25bea2 0%, hsl(94, 80%, 81%) 100%);

    .date {
      text-align: left;
      color: white;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }

    .titleLocationContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (width <= 768px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .title {
        font-weight: 700;
        font-size: 28px;
        line-height: 47px;
        color: #ffffff;
        text-align: left;
      }

      .location {
        font-weight: 700;
        font-size: 20px;
        line-height: 47px;
        color: #ffffff;
      }
    }
    .description {
      font-weight: 700;
      font-size: 16px;
      line-height: 31px;
      color: #ffffff;
      text-align: left;
    }
  }
}
