.container {
  min-height: 100vh;
  display: grid;

  .content{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
      "header header header"
      "left center right";
    max-height: 60vh;

    .header{
      grid-area: header;
      display: grid;
      align-items: center;
      .headerTxt{
        color: #4FB099;
        font-size: 2.5em;
      }
    }

    .left{
      grid-area: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20%;
    }

    .center{
      grid-area: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .lightbulbImage{
        width: 100%;
        height: 100%;
      }
    }

    .right{
      grid-area: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20%;
    }

    .faqRow{
      display: grid;
      justify-content: space-between;
      grid-template-columns: max-content max-content;
      grid-template-rows: max-content min-content;
      grid-template-areas: 
        "que button"
        "ans ans";
      .faqText{
        grid-area: que;
        color: #4FB099;
        font-size: 1.5rem;
        // align-self: flex-start;
      }
      .faqPlus{
        grid-area: button;
        cursor: pointer;
      }
      .faqAns{
        grid-area: ans;
        text-align: left;
      }
      .faqPlus[currentstate='1']{
        animation: turnX 0.25s ease-in 0s 1 normal forwards;
      }
      .faqPlus[currentstate='0']{
        animation: turnPlus 0.25s ease-in 0s 1 normal forwards;
      }
      @keyframes turnX {
        from {transform:rotate(0deg);}
        to {transform:rotate(45deg);} 
      }
      @keyframes turnPlus {
        from {transform:rotate(45deg);}
        to {transform:rotate(0deg);} 
      }
    }
  }
}