html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/font/DMSans-Regular.ttf');
}

body {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
section {
  max-width: 1000px;
  margin: 2rem 0;
}
