@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
section {
  max-width: 1000px;
}
