.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 2rem;
  margin: 5rem 0;
  width: 75%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    span {
      color: #296d90;
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
    }

    .leftText {
      text-align: start;
    }

    .centerText {
      text-align: center;
    }

    .logosRow {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;

      img {
<<<<<<< HEAD
        height: 6rem;
=======
        max-width: 100%;
        max-height: 6rem;
        height: auto;
>>>>>>> main
      }
    }
  }

  @media screen and (width <=768px) {
    .largeLogo {
<<<<<<< HEAD
      width: 50%;
=======
      width: fit-content;
>>>>>>> main
    }
  }
}
